:root {
    --primary-background-color: #FFFFFF;
    --secondary-background-color:#EEF5F6;
    --primary-fonts:Montserrat, sans-serif;
    --letter-spacing-quater: -0.04em;
    --letter-spacing-first: -0.01em;
    --main-text-color:#1A1818;
    --secondary-text-color:#FFFFFF;
    --universal-color: #9BAAAE;
    --btn-color:#CDDDE2;
    --ellipse-color:#EC3C24;
    --side-btn:#EEF5F7;
    --icon-btn-color:#343031;
    --modal-bg-color:#E5E5E5;
}

